<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <div class="content_post">
        <%= image_tag "#{poet.image}" %>
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="name"><%= poet.user.nickname %></span>
        <!--TODO 文字列操作実装場所 -->
        <p><%= poet.image %></p>
      </div>
      <div class="card-action">
        <%= link_to '詳細', "/poets/#{poet.id}", method: :get %>
        <% if user_signed_in? && current_user.id == poet.user_id %>
        <%= link_to '編集', "/poets/#{poet.id}/edit", method: :get %>
        <%= link_to '削除', "/poets/#{poet.id}", method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>